page-s-modal {
    .scroll-content,
    .fixed-content {       
         overflow: hidden;
        
    }

    .scroll-content {
        padding-bottom: 0 !important;
        
    
      }
    
      .bg-theme{
        background-size: cover;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #1c1f3f;
    }
    .for_psw{
      color: color($colors,light); 
      text-align: center;
    }
    
      .bg-white {
        background-color: #1c1f3f;
      }
      .logo {
        width: 100%;
        margin: 10% 0;
      }
      .text-input {
        color: #000!important;
        padding-left: 4px;
      }
      ion-segment {
        width: 80%;
        margin: 0 auto;
      }
      .info-text {
        height: 4.5rem;
        font-size: 1.5rem;
      }
      .sign-row {
        margin-bottom: -5px;
        .segment-button {
          font-weight: bold;
          color: #b9b9b9;
          opacity: 1;
          font-size: 1.3rem;
          text-transform: none;
          border: none;
          &:after {
            content: "";
            display: block;
            width: 50px;
            height: 4px;
            border-radius: 5px;
            position: relative;
            background: transparent;
            margin: 0 auto;
            bottom: 1px;
          }
          &.segment-activated {
            color: #C6D300;
            &:after {
              background: #C6D300;
            }
          }
        }
      }

}
